* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium'; */
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #8fbc8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    height: 450px;
    width: 320px;
    position: relative;
    border-radius: 15px;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container i {
    font-size: 4vw;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.5s;
    opacity: 0;
}
